includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  paths:
    - app
    - config
    - database
    - lang
    - resources
    - routes
    - tests

  # The level 9 is the highest level
  # https://phpstan.org/user-guide/rule-levels
  level: 5

  # https://phpstan.org/config-reference#universal-object-crates
  universalObjectCratesClasses:
    - App\Http\Livewire\Authorization\DelegationLivewireIndex
    - App\Http\Livewire\Authorization\PermissionLivewireIndex
    - App\Http\Livewire\Authorization\PermissionLivewireShow
    - App\Http\Livewire\Authorization\PermissionLivewireUpdate
    - App\Http\Livewire\Authorization\RoleLivewireIndex
    - App\Http\Livewire\Authorization\RoleLivewireShow
    - App\Http\Livewire\Authorization\RoleLivewireUpdate
    - App\Http\Livewire\Authorization\UserLivewireIndex
    - App\Http\Livewire\Printer\PrinterReportLivewire
    - App\Http\Livewire\Printing\PrintingReportLivewire
    - LdapRecord\Models\ActiveDirectory\User

  # https://phpstan.org/user-guide/ignoring-errors
  ignoreErrors:
    -
      message: '#Undefined variable: \$this#'
      path: tests/*
    -
      message: '#Call to an undefined static method Illuminate\\Support\\Facades\\[a-zA-Z]+\:\:should[Not]*HaveReceived\(\)#'
      path: tests/*

  tmpDir: build/phpstan

  checkOctaneCompatibility: true

  checkModelProperties: true

  checkMissingIterableValueType: false
