includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  paths:
    - app
    - config
    - database
    - lang
    - resources
    - routes
    - tests

  # The level 9 is the highest level
  # https://phpstan.org/user-guide/rule-levels
  level: 5

  # https://phpstan.org/config-reference#universal-object-crates
  universalObjectCratesClasses:
    - App\Http\Livewire\Authorization\Delegation\DelegationLivewireIndex
    - App\Http\Livewire\Authorization\Permission\PermissionLivewireIndex
    - App\Http\Livewire\Authorization\Permission\PermissionLivewireShow
    - App\Http\Livewire\Authorization\Permission\PermissionLivewireUpdate
    - App\Http\Livewire\Authorization\Role\RoleLivewireIndex
    - App\Http\Livewire\Authorization\Role\RoleLivewireShow
    - App\Http\Livewire\Authorization\Role\RoleLivewireUpdate
    - App\Http\Livewire\Authorization\User\UserLivewireIndex
    - App\Http\Livewire\Administration\Server\ServerLivewireIndex
    - App\Http\Livewire\Administration\Server\ServerLivewireShow
    - App\Http\Livewire\Administration\Server\ServerLivewireUpdate
    - App\Http\Livewire\Administration\Site\SiteLivewireIndex
    - App\Http\Livewire\Administration\Site\SiteLivewireShow
    - App\Http\Livewire\Administration\Site\SiteLivewireUpdate
    - App\Http\Livewire\Administration\Log\LogLivewireIndex
    - App\Http\Livewire\Report\Department\DepartmentReportLivewire
    - App\Http\Livewire\Report\Server\ServerReportLivewire
    - App\Http\Livewire\Report\Printer\PrinterReportLivewire
    - App\Http\Livewire\Report\Printing\PrintingReportLivewire
    - Illuminate\Database\Eloquent\Model
    - LdapRecord\Models\ActiveDirectory\User

  # https://phpstan.org/user-guide/ignoring-errors
  ignoreErrors:
    -
      message: '#Undefined variable: \$this#'
      path: tests/*
    -
      message: '#Call to an undefined static method Illuminate\\Support\\Facades\\[a-zA-Z]+\:\:should[Not]*HaveReceived\(\)#'
      path: tests/*
    -
      message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:[previous\|next]+\(\)#'
      path: app/http/livewire/*

  tmpDir: build/phpstan

  checkOctaneCompatibility: true

  checkModelProperties: true

  checkMissingIterableValueType: false
